{% extends "base.html.twig" %}

{% block body %}

<div id="form" class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-card">
            {{form_start(form)}}
            {{ form_row(form.email, { 'label': 'Email' }) }}
            {{ form_row(form.roles, { 'label': 'Status' }) }}
       
            <div class="button">
              
                <input class="btn btn-primary" type="submit" value="Modifier">
            </div>
            {{form_end(form)}}
        </div>
    </div>
</div>


{% endblock %}