{% extends "base.html.twig" %}
{% block title %}Accès & horaires{% endblock %}
{% block body %}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2>
                       Ouverture
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                       
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Lundi
                            <span class="ml-auto">8h00 à 18h00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Mardi
                            <span class="ml-auto">8h00 à 18h00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Mercredi
                            <span class="ml-auto">8h00 à 18h00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Jeudi
                            <span class="ml-auto">8h00 à 18h00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Vendredi
                            <span class="ml-auto">8h00 à 18h00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Samedi
                            <span class="ml-auto">9h00 à 17h00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Dimanche
                            <span class="ml-auto">Fermé</span>
                        </li>
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <h3>Ou nous situer</h3>
                            <strong>15, rue des champs</strong>
                            <br>
                          Yvelines, France
                        </em>
                    </p>
                    <p class="mb-0">
                        <small>
                            <em>Numéro de téléphone:</em>
                        </small>
                        <br>
                       0102030405
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2>Lorem, ipsum dolor</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero ducimus quas nulla temporibus laboriosam, illo adipisci libero explicabo necessitatibus id enim qui expedita vel eligendi quaerat voluptatem consequatur delectus nostrum!</p>
                        
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  
{% endblock %}