{% extends 'base.html.twig' %}

{% block title %}Produits de la ferme{% endblock %}

{% block body %}


   <div class="presentation">
       <h1>Bienvenue à la ferme !</h1>
       <p>Produits locaux et frais toute l'année</p>
   </div>
   <section>
       <div class="row">
           <div class="col-12">
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, fugit soluta? Totam quisquam itaque suscipit ea veniam quia error, laboriosam architecto voluptates corporis dolorem, molestiae necessitatibus repellendus iure laborum illum?</p>
           </div>
       </div>
   </section>
        

{% endblock %}