body {
    font-family: 'Poppins', sans-serif;

}
#header{
    position: relative;
    width: 100%;
    margin-top: 0;
    background-color: #142C59;
    padding-bottom: 15px;
}

.nav-link, .navbar-brand{
    font-weight: bold;
    color: white;
}
.nav-link:hover, .navbar-brand:hover{
    color:#DAB25E;
}
.navbar-nav {
    align-items: baseline;
}
.img-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.dropdown {
    margin-right: 10px;
}
.dropdown-menu {
    margin-top: 7px;
    background-color: #142C59;
    border: none;
}
.dropdown-item {
    color: white;

}
.dropdown-item:hover{
    background-color: #142C59;
    color:#DAB25E;

}
.presentation {
    margin-top: 10px;
    text-align: center;
}