body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* general */

.wrapper {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Meie Script', cursive, sans-serif;
    font-size: 2.5em;
}

.btn {
    background-color: #142C59;
    border-color: #142C59;
}

.btn:hover {
    border-color: orange;
    background-color: orange;
}

/* nav  */
#header {
    position: relative;
    width: 100%;
    margin-top: 0;
    background-color: #142C59;
    padding-bottom: 15px;
}

.nav-link, .navbar-brand {
    font-weight: bold;
    color: white;
}

.nav-link:hover, .navbar-brand:hover {
    color: #DAB25E;
}

.navbar-nav {
    align-items: baseline;
}

.img-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.dropdown {
    margin-right: 10px;
}

.dropdown-menu {
    margin-top: 7px;
    background-color: #142C59;
    border: none;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #142C59;
    color: #DAB25E;
}

/* homepage */

.presentation-title {
    margin-top: 10px;
    text-align: center;
}

#card-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* footer */

.footer {
    height: auto;
    position: absolute;
    width: 100%;
    background-color: #142C59;
    color: #fff;
    text-align: center;
}
.fa {
color: white;
padding: 10px;
}

.contacts>a {
    font-weight: bold;
    margin-right: 10px;
    color: #fff;
}

.button {
    display: flex;
    justify-content: center;
}


/* form */
#form {
    display: flex;
    justify-content: center;
    margin-bottom: 3.9em;
}

.form-card {
    border: 0.5px solid grey;
    border-radius: 10px;
    padding: 2rem;
}

.products{
    display: flex;
    justify-content: center;
    
}
.products>a {
    text-align: center;
    font-size: 1.5em;
    color: #142C59;
}

.products-empty {
    text-align: center;
    margin-bottom: 20px;
}

.product-content {
    display: flex;
    flex-direction: column;
}
.product-title {
    color: rgb(21, 62, 138);
    font-weight: bold;
}
.image-content{
    width: 300px;
}

.product-image {
    max-width: 300px;
}

.link-back {
    text-align: center;
    margin-bottom: 20px;
}

