{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}
<div class="row">
    <div class="col">

        <div>

            <ul>
                {% for product in products %}
                <li>
                    {{product.name}}
                </li>
                {% else %}
              
                <div>
                    <p>
                        il n'y a pas de produits pour le moment ou les produits sont indisponible.
                    </p>
                </div>
                {% endfor %}

            </ul>
        </div>

    </div>
</div>




{% endblock %}